# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment / secrets
.env
.env.local
.env.*.local

# SQLite database files
*.sqlite
*.db
*.sqlite3
*.db-journal

# Angular / frontend
dist/
.angular/
.angular/cache/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs / editors
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Misc
*.tgz
