<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


<div class="home-container">
    <h1>Welcome to Anecdotes!</h1>

    <div class="home-block">
        <div class="titlebar" role="banner" aria-hidden="true">
            <div class="title">Anecdotes</div>
            <div class="title-controls">
                <button class="win-close" tabindex="-1" aria-hidden="true">X</button>
            </div>
        </div>

        <div class="home-body">
            <nav class="home-links">
                <a routerLink="/login" class="link-btn">Login</a>
                <a routerLink="/dashboard" class="link-btn">Dashboard</a>
            </nav>
        </div>
    </div>

</div>